VITE_API_BASE_URL=http://localhost:8000
VITE_NOMINATIM_BASE_URL=https://nominatim.openstreetmap.org/search
VITE_OVERPASS_API_URL=https://overpass-api.de/api/interpreter
VITE_OSRM_BASE_URL=https://router.project-osrm.org/route/v1
VITE_MAP_TILE_URL=https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png
VITE_MAP_TILE_ATTRIBUTION=&copy; OSM

